<html>
    <head> 
        
        <title> {{title}} </title>
        <link rel ='stylesheet' href = "static/css/main.css" /> <link>

    </head>
    <body>
        <head>            
        </head>
        <nav>
            <ul>
                <li> <a href="#" >Home</a></li>
                <li> <a href="#" >News</a></li>
            </ul>
        </nav>

        {% block content %}
        {% endblock %}

        <footer>
            &copy; 2019 - Jinsanity
        </footer>
        <!-- <script src="static/js/main.js"></script> -->
    </body>


</html>


